<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>

<body>
    <form id="frm" action="/upload" method="post" enctype="multipart/form-data">
        <input style="display: none;" name="img" type="file" id="imginp">
    </form>
    <nav>
        <a href="/">Car Seller</a>
        <a href="/">Buy/Sell</a>
        <a href="/">Profile</a>
        <a href="/logout">Log Me Out</a>
    </nav>
    <div id="container">
        <div id="dets">
            <div id="image">
                <img src=<%= profileimg %> alt="">
            </div>
            <div id="txt">
                <h2><%= name %></h2>
                <button >change image</button>
                <button id="upload" >Upload</button>
            </div>
        </div>
        <div id="form">
            <h2>Make new car selling listing.</h2>
            <form action="">
                <input type="text" placeholder="car's price" name="car's price">
                <input type="text" placeholder="car's name" name="car's name">
                <input type="text" placeholder="contact" name="contact">
                <input type="file" name="image">
                <input type="submit">
            </form>
        </div>
        <div id="posts">
            <h3>Your Previous Entries</h3>
            <div class="post">
                <img src="asdasd.jpg" alt="some image">
                <h3>Car's name</h3>
                <h3>Car's Price</h3>
                <a href="tel:7828994540">call me </a>
            </div>
            <div class="post">
                <img src="asdasd.jpg" alt="some image">
                <h3>Car's name</h3>
                <h3>Car's Price</h3>
                <a href="tel:7828994540">call me </a>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('#upload').addEventListener('click',function(req,res){
            document.querySelector('#imginp').click();
        })
        document.querySelector('#imginp').addEventListener('change',function(req,res){
            document.querySelector('#frm').submit();
        })
    </script>
</body>
</html>